* {
  margin: 0 auto;
}

.container {
  width: 75vw;
}
.img-div-lg {
  width: 75%;
}
article, footer, .img-div-med {
  width: 65%;
}


h1 {
  font-family: Merriweather;
  text-align: center;
  font-size: 2.2em;
  /*margins inline*/
}
img {
  width: 100%;
}

.img-caption {
  font-family: Helvetica, sans-serif;
  font-size: .9em;
  color: #222;
  margin-top: .1em;
  text-align: right;
}
/* #image is to pass FCC test (not doing anything useful) */
#image { 
  display: block;
  max-width: 100%;
}

blockquote {
  width: 70%;
  font-family: Open Sans;
  font-size: 1.5em;
  font-style: italic;
  color: #2274a5;
  text-align: right;
  border-right: solid 1px;
  margin: 2em auto;
  padding-right: .5em;
  line-height: 1.3em;
}
cite {
  font-size: .8em;
  color: #777;
}
cite:before {
  content: "– ";
}

article {
  font-family: Merriweather;
  font-size: 1em;
  color: #555;
  line-height: 1.5em;
  margin: 2em auto;
}


ul li {
  font-size: .9em;
  line-height: 1.5em;
}


a {
  text-decoration: none;
  color: #0000EE;
}

footer {
  width: 60%;
  color: #666;
  font-size: 0.8em;
  margin: 8em auto 2em;
}
footer a {
  color: #666;
}
footer a:hover {
  color: #888;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 85vw;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: 90vw;
  }
  article, .img-div-lg, .img-div-med {
    width: 90%;
   }
  blockquote {
    width: 95%;
  }
   footer {
    width: 80%;
  }
}