* {
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  padding: 1rem;
  width: 98%;
}

h1,
p {
  font-family: Merriweather;
}

h1 {
  font-size: 1.8em;
  margin: 1em .5em;
}

p {
  font-size: 1em;
  color: #555;
  line-height: 1.8em;
  margin-top: 1em;

}

img {
  display: block;
  margin: 2em auto;
  width: 100%;
}

.img-caption {
  font-family: Helvetica, sans-serif;
  font-size: .9em;
  color: #444;
  margin-top: -2em;
  text-align: right;
}

blockquote {
  font-family: Open Sans;
  font-size: 1.3em;
  font-style: italic;
  color: #2274a5;
  text-align: right;
  margin: 2.5em 0;
  padding-right: .6em;
}

cite {
  font-size: .8em;
  color: #777;
}

cite:before {
  content: "– ";
}

ul {
  padding-left: 1.5em;
}

li {
  margin-top: .3em;
}

a {
  text-decoration: none;
}

footer {
  color: #666;
  font-size: 0.8em;
}

footer a {
  color: #666;
}

footer a:hover {
  color: #888;
}

.footer-refs {
  padding-left: .25em;
  margin-bottom: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-2 {
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }

  h1 {
    font-size: 2.2em
  }

  p,
  li {
    font-size: 1.1em;
  }

  article, footer,
  .img-md {
    width: 42rem;
  }

  .img-caption {
    margin: -2em auto 0;
    width: 40rem;
  }

  blockquote {
    font-size: 1.85em;
  }
}

@media (min-width: 920px) {
  .img-xl {
    width: 120%;
    transform: translateX(-10%)
  }
}